@font-face {
  font-family: "primary";
  src: url("/src/assets/font/Stacked.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "secondary";
  src: url("/src/assets/font/Bahnschrift.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.font-primary {
  font-family: "primary", sans-serif;
}

.font-secondary {
  font-family: "secondary", sans-serif;
}
